.Rproj.user
*.Rhistory
.RData
.Ruserdata
*.Rproj
*.o
*.so
*.dll
src-i386
src-x64
..Rcheck
todos.Rmd
inst/doc
tutorials
README.html
cboost_hexagon.psd
benchmark/.drake
benchmark/Readme.html
benchmark/benchmark.R
/revdep/.cache.rds
docs
results_runner.txt
