language: r
sudo : false
cache: packages

r:
  - release
  - devel

r_packages:
  - Rcpp
  - RcppArmadillo
  - methods

r_github_packages:
  - jimhester/covr

warnings_are_errors: true

after_success:
  - Rscript -e 'covr::coveralls()'

before_deploy:
  - Rscript -e 'devtools::install(quick = TRUE); install.packages(c("mlbench", "ggthemes", "gridExtra")); devtools::document(); pkgdown::build_site();'
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_PAT
  local-dir: docs
  on:
    branch: master

