body {
    background-image: url("../background.jpg");
    background-attachment: fixed;
    background-position: center;
	background-color: rgb(50, 50, 50);
	color: white;
	font-family: Century Gothic;
}

div.contents {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
	padding-left: 12px;
	padding-right: 8px;
}

div.fragment {
    background-color: rgb(60, 60, 60);
}
span.lineno {
    border-right: 2px solid rgb(56, 142, 142);
    background-color: rgb(40, 40, 40);
}
.icona {
    width: 40px;
    height: 22px;
    display: inline-block;
}

.icon {
    font-family: Arial,Helvetica;
    font-weight: bold;
    font-size: 12px;
    height: 16px;
    width: 30px;
    display: inline-block;
    background-color: #68838b;
    color: white;
    text-align: center;
    border-radius: 0px;
    margin-left: 2px;
    margin-right: 2px;
}

a.el {
    font-weight: bold;
    color: rgb(230, 220, 190);
}



span.keyword {
    color: rgb(142, 142, 56);
}

span.comment {
    color: rgb(197, 193, 170);
}

p {
    font-family: Century Gothic;
}

hr {
    border-top: 2px solid white;
}

dt {
    font-family: Century Gothic;
}

.title {
	background-color: transparent;
	color: white;
	font-family: Century Gothic;
	font-weight: bold;
}

div.header {
	background-image: none;
    background-color: rgba(0, 0, 0, 0.1);
}
div.top {
    position: fixed;
}

h2.groupheader {
    color: white;
    font-size: 32px;
    border-bottom: 2px solid white;
    font-family: Century Gothic;
}

.paramname {
    color: #8EE5EE;
}

table.memberdecls {
    background-color: transparent;
}

.sm-dox {
	background-image: none;
	background-color: #333;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
.sm-dox:hover {
	background-image: none;
}

#titlearea {
    background-color: #333;
}

.sm-dox a, .sm-dox a:focus, .sm-dox a:active {
    color: white;
	font-weight: normal;
	font-family: Century Gothic;
}

.sm-dox a:hover {
	background-color: #444;
	background-image: none;
	color: rgb(220, 220, 220);
	font-family: Century Gothic;
	text-shadow: none;
}

/* Dropdown menu */
.sm-dox ul {
    border: 0px solid #bbb;
    padding: 5px 0;
    background: none;
    background-color: rgb(80, 80, 80);
    -moz-border-radius: 0px!important;
    -webkit-border-radius: 0px;
    border-radius: 0px !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
	font-family: Century Gothic;
}
.sm-nowrap ul {
	background-image: none;
	background-color: rgb(50, 50, 50);
	font-family: Century Gothic;

}
.sm-dox ul a:hover {
    background-image: none;
    background-repeat: repeat-x;
    color: white;
    text-shadow: none;
    background-color: #333;
	font-family: Century Gothic;
}
.sm-dox ul a, .sm-dox ul a:focus, .sm-dox ul a:active {
    font-size: 12px;
    border-left: 8px solid transparent;
    line-height: 36px;
    text-shadow: none;
    background-color: #444;
    background-image: none;
	font-family: Century Gothic;
	color: white;
}
.sm-dox a, .sm-dox a:focus, .sm-dox a:active, .sm-dox a:hover, .sm-dox a.highlighted {
    background-image: none;
}
.sm-dox li {
    border-right: 1px solid white;
}


.memberdecls td, .fieldtable tr {
    color: rgb(220, 220, 220);
	font-family: Century Gothic;
}


address {
    color: white;
	font-family: Century Gothic;
}

a {
    color: white;
    font-weight: normal;
    text-decoration: none;
	font-family: Century Gothic;
}

a:hover {
	color: rgb(200, 200, 200);
    font-weight: normal;
    text-decoration: none;
	font-family: Century Gothic;
}

.sm-dox a.has-submenu {
    padding-right: 24px;
    text-shadow: none;
}
.sm-dox a.has-submenu:hover {
    padding-right: 24px;
    text-shadow: none;
    font-weight: normal;
}

.sm-dox > li:first-child > a, .sm-dox > li:first-child > :not(ul) a {
    text-shadow: none;
}


.directory td.entry {
    background-color: black;
	font-family: Century Gothic;
}

.directory td.desc {
    background-color: black;
	font-family: Century Gothic;
}

div.directory {
    margin: 10px 0px;
    border-top: 0px solid #9CAFD4;
    border-bottom: 0px solid #9CAFD4;
    background-color: transparent;
    width: 100%;
}

.directory tr.even, .directory td.entry, .directory td.desc {
    background-color: transparent;
}

div.dynheader {
    font-family: Century Gothic;
}

.contents a:visited {
    color: rgb(230, 220, 190);
}

.memtitle {
    /* border-top: 1px solid #A8B8D9;   */
    /* border-left: 1px solid #A8B8D9;  */
    /* border-right: 1px solid #A8B8D9; */
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    margin-bottom: -1px;
    background-image: none;
    background-repeat: repeat-x;
    background-color: transparent;
	font-family: Century Gothic;
}

.memproto, dl.reflist dt {
    /* border-top: 1px solid #A8B8D9;   */
    /* border-left: 1px solid #A8B8D9;  */
    /* border-right: 1px solid #A8B8D9; */
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 6px 0px 6px 0px;
    color: white;
    font-weight: bold;
    text-shadow: none;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
    border-top-right-radius: none;
    -moz-box-shadow: none;
    -moz-border-radius-topright: none;
    -webkit-box-shadow: none;
    -webkit-border-top-right-radius: none;
	font-family: Century Gothic;
}

.memdoc, dl.reflist dd {
	font-family: Century Gothic;
    /* border-top: 1px solid #A8B8D9;   */
    /* border-left: 1px solid #A8B8D9;  */
    /* border-right: 1px solid #A8B8D9; */
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 6px 10px 2px 10px;
    border-top-width: 0;
    background-image: none;
    background-repeat: repeat-x;
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-box-shadow: none;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-box-shadow: none;
}

.mdescLeft, .mdescRight, .memItemLeft, .memItemRight, .memTemplItemLeft, .memTemplItemRight, .memTemplParams {
    background-color: transparent;
    border: none;
    margin: 4px;
    padding: 1px 0 0 8px;
}

.memSeparator {
    border-bottom: none;
	line-height: 0px;
}

.mdescRight {
	color: rgb(220, 210, 200);
}

.navpath ul {
    background-image: none;
    line-height: 30px;
    color: #8AA0CC;
    border: none;
    border-bottom: solid 1px white;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
	background-color: rgba(255, 255, 255, 0.1);
}

.navpath li {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    background-image: none;
    background-position: right;
    border-right: solid 1px white;
}

.navpath li.navelem a {
    height: 32px;
    display: block;
    outline: none;
    color: white;
    text-shadow: none;
	font-family: Century Gothic;
    font-weight: normal;
}

.navpath li.navelem a:hover {
    height: 32px;
    display: block;
    outline: none;
    color: rgb(220, 220, 220);
    text-shadow: none;
	font-family: Century Gothic;
}

.directory .levels span {
    color: white;
}

.directory .levels span:hover {
    color: black;
}

.MathJax_Display {
    text-align: left !important;
    padding-left: 200px;
}
