
body {
	background-image: url("images/background.jpg");
	margin-top: 16px;
	text-align: justify;
	background-attachment: fixed;
	background-position: center; 
	height: 100%;
}

/* The navigation bar */
.navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	left: 0;
	width: 100%; /* Full width */
	border-bottom: 4px solid rgb(220, 220, 220);
	z-index: 1;
}

/* Links inside the navbar */
.navbar a {
	font-family: 'Lato', helvetica, arial;
	float: left;
	display: block;
	color: #f2f2f2;
	background-color: #333;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.navbar b {
	font-family: 'Lato', helvetica, arial;
	float: right;
	display: block;
	color: #f2f2f2;
	background-color: #333;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

a:hover { 
	color: #333;
	font-weight: bold;
	background-color: rgb(220, 220, 220);
}

a.badge {
	background-color: transparent;
	font-weight: normal;
	text-decoration: none;
}

a.badge:hover { 
	background-color: transparent;
	font-weight: normal;
	text-decoration: none;
}

.navbar a.headerref {
	font-family: 'Lato', helvetica, arial;
	float: right;
	display: block;
	color: #f2f2f2;
	background-color: #333;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

a.headerref:hover {
	color: #D1EEEE;
	background: rgba(255, 255, 255, 0.1);
}

.content {
	position: absolute;
	top: 100px;
	left: 50px;
	right: 50px;
	font-family: 'Lato', helvetica, arial;
	color: white;
	font-size: 22px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 20px;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.content-noline {
	position: absolute;
	top: 100px;
	left: 50px;
	right: 50px;
	font-family: 'Lato', helvetica, arial;
	color: white;
	font-size: 22px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 20px;
}

.footer {
	position: fixed;
	font-family: 'Lato', helvetica, arial;
	color: white;
	font-size: 16px;
	max-width: 1200px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	bottom: 0;
}

code {
	font-family: Currier New;
}

highlight {
	color: #00E5EE;
}

.container {
	height: auto;
	overflow: hidden;
}

.right {
	width: 440px;
	float: right;
	margin-left: 100px;
	margin-top: -13px;
}

.left {
	float: none;
	width: auto;
	overflow: hidden;
	margin-top: 20px;
	}​​


	.fa {
		color: white;
	}

	.fa a {
		color: white;
	}
	.fa a:hover {
		color: #D1EEEE;
		background-color: transparent;
	}

	a.text:link {
		color: white;
	}

	a.text:visited {
		color: white;
	}

	a.text:active {
		color: white;
	}

	a.text:hover {
		/* color: #00E5EE; */
		color: #D1EEEE;
		background-color: transparent;
		font-weight: normal;
	}

	.project {
		display: table;
		border: 1px solid black;
	}

	a.image:link {
		color: transparent;
		background-color: transparent;
	}

	a.image:visited {
		color: transparent;
		background-color: transparent;
	}

	a.image:active {
		color: transparent;
		background-color: transparent;
	}

	a.image:hover {
		color: transparent;
		background-color: transparent;
	}

	.col-container {
		display: table;
		width: 95%;
		border: 1px solid rgba(255, 255, 255, 0.5);
		background: rgba(255, 255, 255, 0.05);
	}
	.col-left {
		display: table-cell;
		padding: 16px;
		width: 25%;
		vertical-align: middle;
		text-align: center;
	}
	.col-right {
		display: table-cell;
		padding: 16px;
		width: auto;
		font-size: 18px;
	}

	.col-left-p {
		display: table-cell;
		width: 20%;
	}
	.col-right-p {
		display: table-cell;
		width: auto;
		text-align: left;
	}

	hr {    
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		margin-top: 40px;
		margin-bottom: 40px;
	}


	.wrap {
		width: 960px;
		height: 540px;
		padding: 0;
		overflow: hidden;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.frame {
		width: 1280px;
		height: 720px;
		border: 0;
		-ms-transform: scale(0.75);
		-moz-transform: scale(0.75);
		-o-transform: scale(0.75);
		-webkit-transform: scale(0.75);
		transform: scale(0.75);
<<<<<<< HEAD
		
=======

>>>>>>> 779878566eeb833808e701f6f7b446cc96aff976
		-ms-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
		-o-transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
	}

	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}

	code {
		background: rgba(10, 41, 35, 0.2) !important;
		font-family: Consolas, Monospace !important;
		font-size: 18px;
	}